<a href="https://colab.research.google.com/github/lalitpandey02/PythonNotebooks/blob/main/BW_12_Tourism.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
url = 'https://www.trade.gov/sites/default/files/2022-02/Monthly-Arrivals-2000-Present.xlsx'

countries_df = pd.read_excel(url, 
                             skiprows=20,
                             header = None,
                             usecols = [1,2],
                             names = ['country','region'],
                             index_col=0).dropna()

In [4]:
countries_df

                                                         region
country
Afghanistan                                                Asia
Albania                                          Eastern Europe
Algeria                                                  Africa
Andorra                                          Western Europe
Angola                                                   Africa
...                                                         ...
Yemen                                               Middle East
Yugoslavia                                       Western Europe
Zaire ( formerly Congo, Democratic Republic of)          Africa
Zambia                                                   Africa
Zimbabwe                                                 Africa

[235 rows x 1 columns]

In [5]:
countries_df.value_counts()

region
Africa             57
Asia               34
Western Europe     34
Caribbean          29
Oceania            23
Eastern Europe     18
Middle East        17
South America      14
Central America     7
North America       2
dtype: int64

In [6]:
countries_df.shape

(235, 1)

In [7]:
travel_df = pd.read_excel(url).drop(range(0,19))

In [8]:
travel_df.shape

(238, 297)

In [9]:
travel_df = travel_df.drop([1,' ', 'World \nRegion','Notes:'],axis=1)

In [10]:
travel_df.shape

(238, 293)

In [11]:
travel_df

,International Visitors--\n 1) Country of Residence\n 2) 1+ nights in the USA\n 3) Among qualified visa types,2000-01-02 00:00:00,2000-02-03 00:00:00,2000-03-06 00:00:00,2000-04-07 00:00:00,2000-05-09 00:00:00,2000-06-10 00:00:00,2000-07-12 00:00:00,2000-08-13 00:00:00,2000-09-14 00:00:00,...,Unnamed: 285,Unnamed: 286,Unnamed: 287,Unnamed: 288,Unnamed: 289,Unnamed: 290,Unnamed: 291,Unnamed: 292,Unnamed: 293,Unnamed: 294
19,Afghanistan,3.0,10.0,7.0,8.0,15.0,9.0,11.0,20.0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Albania,200.0,214.0,240.0,336.0,483.0,422.0,443.0,549.0,612.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Algeria,234.0,176.0,222.0,347.0,261.0,324.0,349.0,310.0,360.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Andorra,110.0,59.0,102.0,119.0,119.0,91.0,116.0,117.0,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Angola,333.0,180.0,183.0,249.0,253.0,228.0,291.0,321.0,263.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,Zambia,285.0,134.0,194.0,240.0,283.0,290.0,359.0,466.0,253.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,Zimbabwe,762.0,399.0,535.0,735.0,722.0,756.0,659.0,1015.0,578.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
travel_df = travel_df.rename(columns = {travel_df.columns[0]: 'country'})

In [13]:
travel_df.shape

(238, 293)

In [14]:
travel_df = travel_df.set_index('country')

In [15]:
travel_df.shape

(238, 292)

In [16]:
travel_df = travel_df.loc[~travel_df.index.isna()]

In [17]:
travel_df.shape

(235, 292)

In [18]:
travel_df

,2000-01-02 00:00:00,2000-02-03 00:00:00,2000-03-06 00:00:00,2000-04-07 00:00:00,2000-05-09 00:00:00,2000-06-10 00:00:00,2000-07-12 00:00:00,2000-08-13 00:00:00,2000-09-14 00:00:00,2000-10-16 00:00:00,...,Unnamed: 285,Unnamed: 286,Unnamed: 287,Unnamed: 288,Unnamed: 289,Unnamed: 290,Unnamed: 291,Unnamed: 292,Unnamed: 293,Unnamed: 294
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,3.0,10.0,7.0,8.0,15.0,9.0,11.0,20.0,19.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,200.0,214.0,240.0,336.0,483.0,422.0,443.0,549.0,612.0,768.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria,234.0,176.0,222.0,347.0,261.0,324.0,349.0,310.0,360.0,334.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,110.0,59.0,102.0,119.0,119.0,91.0,116.0,117.0,79.0,134.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,333.0,180.0,183.0,249.0,253.0,228.0,291.0,321.0,263.0,256.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,151.0,107.0,123.0,163.0,193.0,209.0,329.0,298.0,184.0,110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yugoslavia,660.0,412.0,548.0,503.0,660.0,664.0,776.0,867.0,625.0,586.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Zaire ( formerly Congo, Democratic Republic of)",12.0,8.0,10.0,11.0,10.0,8.0,7.0,24.0,8.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,285.0,134.0,194.0,240.0,283.0,290.0,359.0,466.0,253.0,232.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,762.0,399.0,535.0,735.0,722.0,756.0,659.0,1015.0,578.0,490.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
[col for col in travel_df.columns if str(col).startswith("Unnamed")]

['Unnamed: 281',
 'Unnamed: 282',
 'Unnamed: 283',
 'Unnamed: 284',
 'Unnamed: 285',
 'Unnamed: 286',
 'Unnamed: 287',
 'Unnamed: 288',
 'Unnamed: 289',
 'Unnamed: 290',
 'Unnamed: 291',
 'Unnamed: 292',
 'Unnamed: 293',
 'Unnamed: 294']

In [20]:
travel_df = travel_df.drop([col for col in travel_df.columns if str(col).startswith("Unnamed")], axis = 1)

In [21]:
print(travel_df.shape)
travel_df

(235, 278)

,2000-01-02 00:00:00,2000-02-03 00:00:00,2000-03-06 00:00:00,2000-04-07 00:00:00,2000-05-09 00:00:00,2000-06-10 00:00:00,2000-07-12 00:00:00,2000-08-13 00:00:00,2000-09-14 00:00:00,2000-10-16 00:00:00,...,2022-5,2022-6,2022-7,2022-8,2022-9,2022-10,2022-11,2022-12,2023-01\nPreliminary,2023-02\nPreliminary
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,3.0,10.0,7.0,8.0,15.0,9.0,11.0,20.0,19.0,14.0,...,276.0,317.0,370.0,379.0,274.0,327.0,244.0,402.0,265.0,234.0
Albania,200.0,214.0,240.0,336.0,483.0,422.0,443.0,549.0,612.0,768.0,...,1318.0,1489.0,1177.0,1247.0,1570.0,1404.0,1561.0,2441.0,1507.0,1236.0
Algeria,234.0,176.0,222.0,347.0,261.0,324.0,349.0,310.0,360.0,334.0,...,488.0,608.0,895.0,870.0,1034.0,836.0,739.0,1108.0,747.0,703.0
Andorra,110.0,59.0,102.0,119.0,119.0,91.0,116.0,117.0,79.0,134.0,...,191.0,161.0,237.0,276.0,165.0,223.0,139.0,164.0,139.0,178.0
Angola,333.0,180.0,183.0,249.0,253.0,228.0,291.0,321.0,263.0,256.0,...,324.0,270.0,366.0,468.0,314.0,307.0,251.0,575.0,360.0,244.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,151.0,107.0,123.0,163.0,193.0,209.0,329.0,298.0,184.0,110.0,...,93.0,121.0,155.0,162.0,117.0,120.0,104.0,181.0,180.0,126.0
Yugoslavia,660.0,412.0,548.0,503.0,660.0,664.0,776.0,867.0,625.0,586.0,...,3.0,5.0,3.0,9.0,3.0,7.0,8.0,8.0,5.0,7.0
"Zaire ( formerly Congo, Democratic Republic of)",12.0,8.0,10.0,11.0,10.0,8.0,7.0,24.0,8.0,5.0,...,546.0,526.0,615.0,823.0,445.0,442.0,427.0,1315.0,650.0,495.0
Zambia,285.0,134.0,194.0,240.0,283.0,290.0,359.0,466.0,253.0,232.0,...,360.0,440.0,335.0,404.0,437.0,385.0,323.0,549.0,321.0,208.0
Zimbabwe,762.0,399.0,535.0,735.0,722.0,756.0,659.0,1015.0,578.0,490.0,...,566.0,603.0,537.0,946.0,650.0,585.0,452.0,941.0,712.0,379.0

In [22]:
{col : col.replace("\nPreliminary","") for col in travel_df.columns if str(col).endswith("Preliminary")}

{'2023-01\nPreliminary': '2023-01', '2023-02\nPreliminary': '2023-02'}

In [23]:
travel_df = travel_df.rename(columns={col : col.replace("\nPreliminary","") for col in travel_df.columns if str(col).endswith("Preliminary")})

In [24]:
travel_df

,2000-01-02 00:00:00,2000-02-03 00:00:00,2000-03-06 00:00:00,2000-04-07 00:00:00,2000-05-09 00:00:00,2000-06-10 00:00:00,2000-07-12 00:00:00,2000-08-13 00:00:00,2000-09-14 00:00:00,2000-10-16 00:00:00,...,2022-5,2022-6,2022-7,2022-8,2022-9,2022-10,2022-11,2022-12,2023-01,2023-02
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,3.0,10.0,7.0,8.0,15.0,9.0,11.0,20.0,19.0,14.0,...,276.0,317.0,370.0,379.0,274.0,327.0,244.0,402.0,265.0,234.0
Albania,200.0,214.0,240.0,336.0,483.0,422.0,443.0,549.0,612.0,768.0,...,1318.0,1489.0,1177.0,1247.0,1570.0,1404.0,1561.0,2441.0,1507.0,1236.0
Algeria,234.0,176.0,222.0,347.0,261.0,324.0,349.0,310.0,360.0,334.0,...,488.0,608.0,895.0,870.0,1034.0,836.0,739.0,1108.0,747.0,703.0
Andorra,110.0,59.0,102.0,119.0,119.0,91.0,116.0,117.0,79.0,134.0,...,191.0,161.0,237.0,276.0,165.0,223.0,139.0,164.0,139.0,178.0
Angola,333.0,180.0,183.0,249.0,253.0,228.0,291.0,321.0,263.0,256.0,...,324.0,270.0,366.0,468.0,314.0,307.0,251.0,575.0,360.0,244.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,151.0,107.0,123.0,163.0,193.0,209.0,329.0,298.0,184.0,110.0,...,93.0,121.0,155.0,162.0,117.0,120.0,104.0,181.0,180.0,126.0
Yugoslavia,660.0,412.0,548.0,503.0,660.0,664.0,776.0,867.0,625.0,586.0,...,3.0,5.0,3.0,9.0,3.0,7.0,8.0,8.0,5.0,7.0
"Zaire ( formerly Congo, Democratic Republic of)",12.0,8.0,10.0,11.0,10.0,8.0,7.0,24.0,8.0,5.0,...,546.0,526.0,615.0,823.0,445.0,442.0,427.0,1315.0,650.0,495.0
Zambia,285.0,134.0,194.0,240.0,283.0,290.0,359.0,466.0,253.0,232.0,...,360.0,440.0,335.0,404.0,437.0,385.0,323.0,549.0,321.0,208.0
Zimbabwe,762.0,399.0,535.0,735.0,722.0,756.0,659.0,1015.0,578.0,490.0,...,566.0,603.0,537.0,946.0,650.0,585.0,452.0,941.0,712.0,379.0

In [25]:
travel_df.columns

Index([2000-01-02 00:00:00, 2000-02-03 00:00:00, 2000-03-06 00:00:00,
       2000-04-07 00:00:00, 2000-05-09 00:00:00, 2000-06-10 00:00:00,
       2000-07-12 00:00:00, 2000-08-13 00:00:00, 2000-09-14 00:00:00,
       2000-10-16 00:00:00,
       ...
                  '2022-5',            '2022-6',            '2022-7',
                  '2022-8',            '2022-9',           '2022-10',
                 '2022-11',           '2022-12',           '2023-01',
                 '2023-02'],
      dtype='object', length=278)

In [26]:
travel_df.columns.dtype

dtype('O')

In [27]:
travel_df.columns = pd.to_datetime(travel_df.columns)

In [28]:
travel_df.columns.dtype

dtype('<M8[ns]')

In [29]:
travel_df.columns

DatetimeIndex(['2000-01-02', '2000-02-03', '2000-03-06', '2000-04-07',
               '2000-05-09', '2000-06-10', '2000-07-12', '2000-08-13',
               '2000-09-14', '2000-10-16',
               ...
               '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01',
               '2023-01-01', '2023-02-01'],
              dtype='datetime64[ns]', length=278, freq=None)

In [30]:
pd.DataFrame(travel_df.columns).head(278)

             0
0   2000-01-02
1   2000-02-03
2   2000-03-06
3   2000-04-07
4   2000-05-09
..         ...
273 2022-10-01
274 2022-11-01
275 2022-12-01
276 2023-01-01
277 2023-02-01

[278 rows x 1 columns]

In [31]:
travel_df = travel_df.replace(' -   ', 0)

In [32]:
travel_df

,2000-01-02,2000-02-03,2000-03-06,2000-04-07,2000-05-09,2000-06-10,2000-07-12,2000-08-13,2000-09-14,2000-10-16,...,2022-05-01,2022-06-01,2022-07-01,2022-08-01,2022-09-01,2022-10-01,2022-11-01,2022-12-01,2023-01-01,2023-02-01
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,3.0,10.0,7.0,8.0,15.0,9.0,11.0,20.0,19.0,14.0,...,276.0,317.0,370.0,379.0,274.0,327.0,244.0,402.0,265.0,234.0
Albania,200.0,214.0,240.0,336.0,483.0,422.0,443.0,549.0,612.0,768.0,...,1318.0,1489.0,1177.0,1247.0,1570.0,1404.0,1561.0,2441.0,1507.0,1236.0
Algeria,234.0,176.0,222.0,347.0,261.0,324.0,349.0,310.0,360.0,334.0,...,488.0,608.0,895.0,870.0,1034.0,836.0,739.0,1108.0,747.0,703.0
Andorra,110.0,59.0,102.0,119.0,119.0,91.0,116.0,117.0,79.0,134.0,...,191.0,161.0,237.0,276.0,165.0,223.0,139.0,164.0,139.0,178.0
Angola,333.0,180.0,183.0,249.0,253.0,228.0,291.0,321.0,263.0,256.0,...,324.0,270.0,366.0,468.0,314.0,307.0,251.0,575.0,360.0,244.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,151.0,107.0,123.0,163.0,193.0,209.0,329.0,298.0,184.0,110.0,...,93.0,121.0,155.0,162.0,117.0,120.0,104.0,181.0,180.0,126.0
Yugoslavia,660.0,412.0,548.0,503.0,660.0,664.0,776.0,867.0,625.0,586.0,...,3.0,5.0,3.0,9.0,3.0,7.0,8.0,8.0,5.0,7.0
"Zaire ( formerly Congo, Democratic Republic of)",12.0,8.0,10.0,11.0,10.0,8.0,7.0,24.0,8.0,5.0,...,546.0,526.0,615.0,823.0,445.0,442.0,427.0,1315.0,650.0,495.0
Zambia,285.0,134.0,194.0,240.0,283.0,290.0,359.0,466.0,253.0,232.0,...,360.0,440.0,335.0,404.0,437.0,385.0,323.0,549.0,321.0,208.0
Zimbabwe,762.0,399.0,535.0,735.0,722.0,756.0,659.0,1015.0,578.0,490.0,...,566.0,603.0,537.0,946.0,650.0,585.0,452.0,941.0,712.0,379.0

In [33]:
travel_df = travel_df.fillna(0)

In [34]:
travel_df = travel_df.astype(int)

In [35]:
travel_df.head(5)

,2000-01-02,2000-02-03,2000-03-06,2000-04-07,2000-05-09,2000-06-10,2000-07-12,2000-08-13,2000-09-14,2000-10-16,...,2022-05-01,2022-06-01,2022-07-01,2022-08-01,2022-09-01,2022-10-01,2022-11-01,2022-12-01,2023-01-01,2023-02-01
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,3,10,7,8,15,9,11,20,19,14,...,276,317,370,379,274,327,244,402,265,234
Albania,200,214,240,336,483,422,443,549,612,768,...,1318,1489,1177,1247,1570,1404,1561,2441,1507,1236
Algeria,234,176,222,347,261,324,349,310,360,334,...,488,608,895,870,1034,836,739,1108,747,703
Andorra,110,59,102,119,119,91,116,117,79,134,...,191,161,237,276,165,223,139,164,139,178
Angola,333,180,183,249,253,228,291,321,263,256,...,324,270,366,468,314,307,251,575,360,244

## **In the most recent report, which 10 countries had the greatest number of tourists enter the US?**

In [36]:
# travel_df.iloc[:,-1].sort_values(ascending=False).head(10)
travel_df[[travel_df.columns[-1]]].sort_values(by=travel_df.columns[-1], ascending=False).head(10)

                2023-02-01
country
United Kingdom      251750
South Korea         116425
France              114659
Brazil              101447
Germany              90144
Japan                82225
India                80806
Argentina            48524
Australia            46891
Italy                45419

## **In the first report, which 10 countries had the greatest number of tourists enter the US?**

In [37]:
# travel_df.iloc[:,0].sort_values(ascending=False).head(10)
travel_df[[travel_df.columns[0]]].sort_values(by=travel_df.columns[0], ascending=False).head(10)

                2000-01-02
country
Canada              937669
Japan               354266
United Kingdom      242422
Mexico              234000
Germany             100632
Brazil               69634
France               63624
Argentina            54136
South Korea          53797
Italy                41661

## **Total the number of tourists from each region in the earliest report vs. the latest report. Do we see any changes in the last two decades or so?**

In [38]:
df1 = travel_df[[travel_df.columns[0]]].join(countries_df).groupby('region').sum().sort_values(by=travel_df.columns[0])

df2 = travel_df[[travel_df.columns[-1]]].join(countries_df).groupby('region').sum().sort_values(by=travel_df.columns[-1])

In [39]:
df = df1.join(df2)

In [40]:
import plotly.express as px

fig = px.line(df)
fig.show()

## **Have any countries had more month-to-month declines in tourism to the US than increases?**

In [41]:
((travel_df.pct_change(axis='columns') < 0).sum(axis='columns'))

country
Afghanistan                                        125
Albania                                            131
Algeria                                            138
Andorra                                            131
Angola                                             123
                                                  ...
Yemen                                              136
Yugoslavia                                         123
Zaire ( formerly Congo, Democratic Republic of)    141
Zambia                                             132
Zimbabwe                                           136
Length: 235, dtype: int64

We now have, for each country, the number of times it was negative. But what percentage was that? We can just divide by the number of columns in **travel_f**

In [42]:
(((travel_df.pct_change(axis='columns') < 0).sum(axis='columns'))/len(travel_df.columns)).sort_values(ascending = False)

country
Canada                          0.604317
Brunei                          0.543165
Botswana                        0.539568
Austria                         0.532374
Taiwan                          0.528777
                                  ...
Saint Maarten                   0.122302
Bonaire, St. Eustatius, Saba    0.107914
West Indies (French)            0.050360
South Sudan, Republic of        0.000000
Indian Ocean Areas (French)     0.000000
Length: 235, dtype: float64

## **Calculate the mean of tourists from each country for each decade. 
(And yes, the current decade will be listed as December 31st, 2030.)**

In [45]:
travel_df.resample('10Y', axis='columns').mean()

,2000-12-31,2010-12-31,2020-12-31,2030-12-31
country,,,,
Afghanistan,10.750000,48.366667,185.041667,175.230769
Albania,478.083333,418.000000,861.108333,1072.807692
Algeria,274.500000,252.141667,763.641667,387.615385
Andorra,102.916667,98.033333,117.958333,104.846154
Angola,262.166667,365.258333,746.591667,220.884615
...,...,...,...,...
Yemen,166.250000,68.850000,151.383333,85.038462
Yugoslavia,669.916667,336.800000,8.558333,2.846154
"Zaire ( formerly Congo, Democratic Republic of)",9.250000,40.358333,394.116667,392.230769
Zambia,278.083333,247.800000,305.941667,223.076923
Zimbabwe,673.333333,406.450000,514.525000,385.038462