<a href="https://colab.research.google.com/github/lalitpandey02/PythonNotebooks/blob/main/Career_Wednesday_18_Data_Manipulation_Assessment_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" height="100" /></center>

**<center><h1>Career Wednesday - 18</h3></center>**

---
# **Data Manipulation Assessment**
---

  - ## [**Question 1**](#Section1)<br>
  - ## [**Question 2**](#Section2)<br>
  - ## [**Question 3**](#Section3)<br>

In [ ]:
#Installing Evaluation Script
!wget -q https://gitlab.com/academics3/insaid-data/-/raw/main/Career%20Wednesday%20Repo/17th%20August%202022:%20Data%20Manipulation%20Assessment/Evaluation.py

In [ ]:
from Evaluation import *

---
# **Data Manipulation:**
---

In [ ]:
# Packages
import pandas as pd
import numpy as np

##  **Dataset 1:**

- The data contains recored values of **concentration of various pollutants** in various **cities of india** from a time span of **2015 to 2020.** The observations are recorded **daily.**

- The data also contains the Air Quality Index (AQI) value for each day along the Air Quality class (**Good, Satisfactory, Moderate, Poor, Very Poor, and Severe.**)

In [ ]:
# Dataset 1
path = 'https://gitlab.com/academics3/insaid-data/-/raw/main/Career%20Wednesday%20Repo/17th%20August%202022%3A%20Data%20Manipulation%20Assessment/Air_Quality_index.csv'

# First Look
df = pd.read_csv(path, index_col=['Date'])
df.head(7)

<a name = Section1></a>
## **Question 1:**

- **Industrial waste** is the combination of CO, SO2, O3, Benzene, Toluene, and Xylene.

- **Vehicle waste** is the combination of  PM2.5, PM10, NO2, NH3, and CO.

- And **Total waste** is the **sum** of Industrial waste and vehicle waste.

- Using this information format the dataframe and find the **average total waste each city has produced.**

- Finally identify the **top 7 Most Polluted cities** based on Total waste from the obtained results.

In [ ]:
# Explore

In [ ]:
# Answer
Top_7_polluted_cities = 

# Checking your Answer (Don't Change this Code)
CheckingAnswer('Top7', Top_7_polluted_cities)

<a name = Section2></a>
## **Question 2:**

- Using the same dataset from **Question1**

- Focusing on the **Top 7 Polluted cities**, Find the number of days each of the Top 7 Polluted cities have been given **"Poor" Air Quality Class**.

- Find the **total number of days**, the data has been recorded for in dataset.

- Calculate the percentage of days the Air Quality Class was **"Poor" for each the Top 7 Most Polluted Cities.**

- Round the **percentage value to 2 decimal place** and create a dictionary with **City names as keys and percentage value as values.**

**Example:**

Taking the **Example of Delhi:**

Number of **Days Delhi had "Poor" Quality Air = 542**  
**Total number of days** in dataframe = **29531**    
**Percentage** = (542/29831) * 100 = **1.8353594**  
Round to **2 decimal**: **1.84**  
Add this to the Dictionary: {"Delhi" : 1.84}

Now, you have to do this for every city in the Top 7 Most Polluted Tips

In [ ]:
# Explore

In [ ]:
# Answer
# Remember to Captilize the first alphabet of the City name Ex- "Delhi" and pay close attention to spelling.
Percentage_Dict =

# Checking your Answer (Don't Change this Code)
CheckingAnswer('Percentages', Percentage_Dict)

<a name = Section3></a>
## **Question 3:**

- Use the **same dataset**

- Two of the most influential Pollutants in the dataset are **PM2.5 and NO** for Vehicle and Industrial Waste Category Respectively.

- For **PM2.5** any concentration **equal and higher than 400** is considered Unhealthy.

- For **NO** any concentration **equal and higher than 100** is considered Unhealthy.

- Extract all the **days in the dataset** that had **Unhealthy level of PM2.5 and NO Concentration.**

- From the **Extracted data**, find the **city with highest average AQI.**

In [ ]:
# Explore

,City,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,Air_Quality,Industrial_Waste,Vehicle_Waste,Total_Waste
Date,,,,,,,,,,,,,,,,,,
2015-01-01,Ahmedabad,74.248718,178.056732,0.92,18.22,17.15,4.478580,0.92,27.64,133.36,0.00,0.02,0.00,218.015533,Moderate,161.02,293.994031,455.014031
2015-01-02,Ahmedabad,52.135330,118.105331,0.97,15.69,16.46,23.405872,0.97,24.55,34.06,3.68,5.50,3.77,119.359024,Moderate,71.56,227.736534,299.296534
2015-01-03,Ahmedabad,47.204445,88.524117,17.40,19.30,29.70,11.040450,17.40,29.07,30.70,6.80,16.40,2.25,300.527374,Moderate,85.22,230.569011,315.789011
2015-01-04,Ahmedabad,60.280689,108.053131,1.70,18.48,17.97,11.120313,1.70,18.59,36.08,4.43,10.14,1.00,125.372055,Moderate,70.24,219.304133,289.544133
2015-01-05,Ahmedabad,69.363564,129.961456,22.10,21.42,37.76,23.415892,22.10,39.33,39.31,7.01,18.89,2.78,340.377930,Moderate,107.32,326.120911,433.440911

In [ ]:
# Answer
Most_Unhealthy_City =

# Checking your Answer (Don't Change this Code)
CheckingAnswer('Most_Unhealthy_City', Most_Unhealthy_City)